header {
    height: 7rem;
    line-height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);
    z-index: 2;
}

nav .navbar-brand {
    font-family: var(--brand-font);
    font-size: 4rem;
}

nav ul li a.nav-link {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    color: black;
    position: relative;
}
nav ul li a.nav-link:hover {
    color: black;
}

nav ul li a.nav-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: black;
    top: 70%;
    left: 0;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
nav ul li a.nav-link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

nav.side-bar * {
    padding: 0 !important;
    margin: 0 !important;
}
nav.side-bar {
    display: none;
    width: 10%;
    height: 100vh;
    float: left;
    clear: both;
    background-color: rgba(255, 255, 255);
}

nav.side-bar .nav-link {
    line-height: 5rem;
}

nav.side-bar .nav-link::after {
    width: 50%;
    top: 80%;
    left: 25%;
}

@media (max-width: 768px) {
    header {
        background-color: unset;
        left: 0;
    }
    nav .navbar-brand {
        font-size: 2.5rem;
    }
}